{
	"extends": "airbnb-base",
	"rules": {
		"padded-blocks": [2, { "classes": "always" }],
		"class-methods-use-this": 0,
		"no-underscore-dangle": 0,
		"no-tabs": 0,
		"indent": [2, "tab"]
	},
	"globals": {
		"fetch": false
	}
}
